<h1>Promowane produkty</h1>

<div class="row">
    <div class="col-md-4" ng-repeat="product in products">
        <h5><span class="badge badge-info">{{ product.id }}</span> <a class="btn" href="#/product/{{ product.id }}">{{ product.name }}</a></h5>
        <img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}" class="whole-image" />
        <div class="clearfix"></div>
        <small>{{ product.description }}</small>
        <div class="text--right">PLN {{ product.price }}</div>
    </div>
</div>
