<blockquote>
  <p>Wybrana kategoria</p>
  <small>{{ category.name }}</small>
</blockquote>

<div class="row">
    <div class="col-md-4" ng-repeat="product in products">
        <img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}" class="img-responsive" />
        <h5 class="lead caps"><a class="btn" href="#/product/{{ product.id }}">{{ product.name }}</a></h5>
        <div class="clearfix"></div>
    </div>
</div>
<div ng-show="products.length == 0" class="alert alert-info">Niestety, w tej kategorii nie ma żadnych produktów jeszcze.</div>
