<blockquote>
    <p>{{ product.name }}</p>
    <small>szczególy produktu</small>
    <big class="btn btn-success pull-right text--right product-defail-price">
product        {{ product.price / 100 }} PLN
    </big>
</blockquote>
<div class="clearfix"></div>

<div class="row product-details">
    <div class="col-lg-8">
        {{ product.description }}
    </div>
    <div class="col-lg-4">
       <img ng-src="{{ product.thumbnail }}" alt="{{ product.name }}" class="img-responsive" />
    </div>
    <div class="clearfix"></div>
</div>

<a ng-click="addToCart(product)" class="btn btn-primary" href="#/product/{{ product.id }}">Dodaj do koszyka</a>
