module.exports = {
    'googleAuth': {
        returnURL: 'http://localhost:3000/auth/result',
        realm: 'http://localhost:3000/'
    },
    'database': {
        'host': 'localhost',
        'user': '',
        'password': '',
        'database': '',
        'debug': true
    }
}
