@import '_vars.less';

body {
    background: @backgroundColor;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    color: #ccc;
}

.menu-sidebar-section {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text--right {
    text-align: right;
}

.text--center {
    text-align: center;
}

.whole-image {
    max-width: 100%;
}

header {
    .header-logo {
        width: 80px;
    }
}

.content-separator {
    margin: 10px;
    height: 3px;
    width: 100%;
    background: #eee;
}
